<html>
    
<head>
<title>https://www.GamiFy.com</title>
    <link rel="stylesheet" type="text/css" href="Gamify.css"> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <header>
        <header>
            <%- include('./header') %>
            <div class="header-div">
                <ul >
                    <li><a class="header-a" href="/" target="_self"><i class="fas fa-home"></i>&nbsp;Home</a></li>
                    <li><a class="header-a" href="/product" target="_self"><i class="fas fa-gamepad"></i>&nbsp;Product</a></li>
                    <li><a class="header-a" href="/upcome" target="_self">🎁&nbsp;Upcoming</a></li>
                    <li class="current-page"><a class="header-a" href="/about" target="_self">☎&nbsp;About Us</a></li>
                </ul>
            </div>
        </header>
        <div class="about-footer" style="margin-top: 20px;">
            <p style="color: red;">Gamer zone, Be careful.
        </div>
    <div class="about-page">
            <div class="discription"><center>
                <div style="color:rgb(209, 0, 0);">
                Gamify is a free online Gaming Website.
                <br>
                Future Goal of Gamify to sell various online Games inclunding 
                <br>
                Xbox , Playstore Also.
                </div>
                <br>
               <u><b>All Contributers :</b></u>
                <br><br>
                <span>
                    <p>Sanjay Singh Shekhawat</p>
                    <p>Karan Raj Jayswal</p>
                </span>
            </center></div>
            <div class="ma">follow us on</div>
            <div class="ma1">
                <div class="profile-link"><a href="https://github.com/sanjays50"><img src="gitHub.png" width="35px" height="35px" alt="fb" style="margin-top: 3px;"></a></div>
                <div class="profile-link"><a href="https://www.linkedin.com/in/sanjay-singh-shekhawat-7804411b5/"><img src="ilinkedin.png" width="40px" height="40px" alt="ins"></a></div>
                <div class="profile-link"><a href="https://www.instagram.com/sanjay__50/"><img src="instagram.png" width="40px" height="40px" alt="twt"></a></div>
            </div>
    </div>
    </body>
<script src="Gamify.js"></script>

</html>